process {
    withName: 'BLAST_BLASTN' {
        ext.args = [
            '-task',
            'megablast',
            '-word_size',
            '28',
            '-best_hit_overhang',
            '0.1',
            '-best_hit_score_edge',
            '0.1',
            '-dust',
            'yes',
            '-evalue',
            '0.0001',
            '-min_raw_gapped_score',
            '100',
            '-penalty',
            '-5',
            '-perc_identity',
            '80.0',
            '-soft_masking',
            'true',
            '-window_size',
            '100',
            '-qcov_hsp_perc',
            '50',
            '-outfmt',
            '"6 qseqid"',
        ].join(' ').trim()

    }

    withName: 'SEQKIT_GREP' {
        ext.args = "--invert-match"
    }
}
