params {
    // Set default values for alignment filtering
    min_qcov = 0.3
    min_pid  = 0.4
}

process {
    withName: MINIMAP2_ALIGN {
        ext.args = "-k 13 -w 5"
    }

    withName: SEQKIT_GREP {
        ext.args   = "--invert-match"
        // defining the prefix is necessary to avoid "same filename error"
        ext.prefix = { "${meta.id}_cleaned" }
    }
}
