process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: INFERNAL_CMSEARCH {
    ext.args = '--cut_ga'
    }
}

params {

    rfam = "tests/subworkflows/ebi-metagenomics/rrna_extraction/data/test.cm"
    rfam_clan = "tests/subworkflows/ebi-metagenomics/rrna_extraction/data/ribo.claninfo"
}
