process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: INFERNAL_CMSEARCH {
    ext.args = '--cut_ga'
    }
}

params {

    rfam = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf_test/RFAM/14.10/ribo.cm"
    rfam_clan = "/hps/nobackup/rdf/metagenomics/service-team/users/chrisata/scripts_taxdb_nf_test/RFAM/14.10/ribo.clan_info"
}
