params {
    test_data_folder                   = "https://raw.githubusercontent.com/nf-core/test-datasets"
    test_data_base                     = "${params.test_data_folder}/modules"
    mgnify_pipelines_toolkit_testdata  = "https://raw.githubusercontent.com/EBI-Metagenomics/mgnify-pipelines-toolkit/refs/heads/main/tests/fixtures/"

    test_data {

        'sarscov2' {
            'genome' {
                genome_fasta    = "${params.test_data_base}/data/genomics/sarscov2/genome/genome.fasta"
                genome_fasta_gz = "${params.test_data_base}/data/genomics/sarscov2/genome/genome.fasta.gz"
                proteome_fasta  = "${params.test_data_base}/data/genomics/sarscov2/genome/proteome.fasta"
            }
            'illumina' {
                test_1_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_1.fastq.gz"
                test_2_fastq_gz = "${params.test_data_base}/data/genomics/sarscov2/illumina/fastq/test_2.fastq.gz"
            }
        }
        'genomeassembler' {
            'A_thaliana' {
                hifi_fastq_gz   = "${params.test_data_folder}/genomeassembler/A_thaliana_Col-0_2mb/HiFi-Col-0_test_data.fastq.gz"
            }
        }
    }
}
