params {
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"

    test_data {

        'sarscov2' {
            'genome' {
                genome_fasta    = "${params.test_data_base}/data/genomics/sarscov2/genome/genome.fasta"
                genome_fasta_gz = "${params.test_data_base}/data/genomics/sarscov2/genome/genome.fasta.gz"
                proteome_fasta  = "${params.test_data_base}/data/genomics/sarscov2/genome/proteome.fasta"
            }
        }
    }
}
