process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
}

profiles {
    slurm {
        params {
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
    }
    lsf {
        params {
            esm_conda_path = '/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs/esmfold_gpu'
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        }
    }
    local {
        params {
            esm_conda_path = '/home/vangelis/miniconda3/envs/esmfold_new_test'
        }
        conda {
            enabled = true
            autoMounts = true
            cacheDir = "/home/vangelis/miniconda3/envs"
        }
    }
}
